body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.chart-container {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}
