/* The navbar */
.topnav {
  background: linear-gradient(90deg, #004D9D, #F7A500,#73B842, #04A9D2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  position: fixed; /* Tetap terlihat saat menggulir */
  width: 100%;
  top: 0; /* Posisi di bagian atas */
  left: 0;
  z-index: 1000; /* Menjaga agar navbar berada di atas konten lain */
}

.chart-container {
  margin-bottom: 50px;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .topnav {
    font-size: 20px;
    height: 50px;
    padding: 0 16px;
  }

  .topnav .logo {
    height: 40px;
    margin-right: 10px;
  }

  .topnav a {
    padding: 10px 14px;
    font-size: 15px;
  }

  body {
    margin-top: 50px;
  }

  .charts-container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .topnav {
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
  }

  .topnav .logo {
    height: 30px;
    margin-right: 5px;
  }

  .topnav a {
    padding: 8px 10px;
    font-size: 14px;
  }

  body {
    margin-top: 40px;
  }

  .charts-container {
    width: 100%;
    padding: 5px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
