html {
  scroll-behavior: smooth;
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0065b8;
}


.mainpage {
  margin: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Menetapkan background agar tidak scroll bersama halaman */
  color: #000;
  padding: 250px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}


.mainpagetext {
  text-align: center;
  font-size: 3em; /* Perbesar ukuran font */
  color: #f1f1f1;
}

/* Style untuk header */
.bg-body-tertiary {
  background: #f5f5f5;
  color: white; 
}

/* Custom styles for nav-underline */
.custom-nav .nav-link {
  color: #000000; /* Warna teks link navbar */
  border-bottom: 2px solid #F7A500; /* Warna underline */
}

.custom-nav .nav-link:hover {
  color: #F7A500; /* Warna teks link navbar saat di-hover */
}

.custom-nav .nav-link.active {
  color: #73B842; /* Warna teks link aktif */
  border-bottom: 2px solid #04A9D2; /* Warna underline link aktif */
}

.warming-stripes {
  max-width: 100%;
  /* Pengaturan cropping secara horizontal */
  width: 100%; /* Lebar elemen tetap penuh */
  height: 30px; /* Sesuaikan dengan tinggi yang diinginkan untuk cropping */
  object-fit: cover; /* Memotong gambar agar sesuai elemen */
  object-position: center; /* Posisikan gambar di tengah */
}

/* Responsive styles */
@media (max-width: 768px) {
  .mainpage {
    padding: 150px; /* Kurangi padding pada layar kecil */
  }

  .mainpagetext {
    font-size: 2em; /* Kurangi ukuran font pada layar kecil */
  }

  .navbar .nav-link {
    font-size: 1em; /* Kurangi ukuran font link navbar pada layar kecil */
  }
}

@media (max-width: 480px) {
  .mainpage {
    padding: 100px; /* Kurangi padding lebih lanjut pada layar sangat kecil */
  }

  .mainpagetext {
    font-size: 1.5em; /* Kurangi ukuran font lebih lanjut pada layar sangat kecil */
  }

  .navbar .nav-link {
    font-size: 0.9em; /* Kurangi ukuran font link navbar lebih lanjut pada layar sangat kecil */
  }
}
