html {
  scroll-behavior: smooth;
  user-select: none; /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0065b8;
}

.mainpage {
  margin: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Menetapkan background agar tidak scroll bersama halaman */
  color: #000;
  padding: 250px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}


.mainpagetext {
  text-align: center;
  font-size: 3em; /* Perbesar ukuran font */
  color: #f1f1f1;
}


/* The navbar */
.topnav {
  background: linear-gradient(90deg, #004D9D, #F7A500,#73B842, #04A9D2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  text-justify: auto;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* Logo styling */
.topnav .logo {
  height: 50px; /* Sesuaikan tinggi logo */
  margin-left: auto; /* Mengatur margin kiri otomatis untuk memindahkan logo ke kanan */
  margin-right: 20px; /* Jarak antara logo dan tepi navbar */
  align-self: center; /* Menjaga logo agar berada di tengah vertikal navbar */
}



/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #0473aa;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


body {
  font-family: Arial, sans-serif;
  background: url(../img/trianglify.png);
  background-size: fill;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap;
}

.dashboard {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.iframe-container {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

iframe {
  flex: 1;
  min-height: 270px; /*Tinggi iframe*/
  width: 100%; /*Lebar iframe*/
  border: 2px solid #00b3b3; /*warna border solid*/
  border-radius: 10px; /*radius batas*/
  box-sizing: border-box; /*box sizing*/
}

.stasiun-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.stasiun-title:hover {
  transform: scale(1.1);
}

.info-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #000;
}

#navbar {
  background-color: #fb8500;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 25px;
  text-justify: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer {
  background: linear-gradient(90deg, #004D9D, #F7A500,#73B842, #04A9D2);
  padding: 20px 0; /* Padding atas dan bawah */
  border-top: 1px solid #e7e7e7; /* Garis atas footer */
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .col-md-4 {
  display: flex;
  align-items: center;
}

.footer .nav {
  display: flex;
  justify-content: flex-end;
}

.footer .nav li {
  margin-left: 15px;
}

.footer .text-body-secondary {
  color: #6c757d;
}

.footer .text-body-secondary:hover {
  color: #0056b3;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
  }

  .footer .col-md-4 {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer .nav {
    justify-content: center;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
  .topnav {
    font-size: 20px;
    height: 50px;
    padding: 0 16px;
  }

  .topnav .logo {
    height: 40px;
    margin-right: 10px;
  }

  .topnav a {
    padding: 10px 14px;
    font-size: 15px;
  }

  body {
    margin-top: 50px;
  }

  .mainpage {
    padding: 150px;
  }

  .mainpagetext {
    font-size: 2em;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .iframe-container {
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .topnav {
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
  }

  .topnav .logo {
    height: 30px;
    margin-right: 5px;
  }

  .topnav a {
    padding: 8px 10px;
    font-size: 14px;
  }

  body {
    margin-top: 40px;
  }

  .mainpage {
    padding: 100px;
  }

  .mainpagetext {
    font-size: 1.5em;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .iframe-container {
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}