html {
  scroll-behavior: smooth;
  user-select: none; /* Standard syntax */
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0065b8; 
}

.mainpage {
  margin: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Menetapkan background agar tidak scroll bersama halaman */
  color: #000;
  padding: 250px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}


.mainpagetext {
  text-align: center;
  font-size: 3em; /* Perbesar ukuran font */
  color: #f1f1f1;
}


/* Position the navbar container inside the image */
.container {
  position: sticky top left;
  width: auto;
}

/* The navbar */
.topnav {
  background: linear-gradient(90deg, #fb8500, #007bff, #009519); /* Warna jingga, biru, dan hijau */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  font-size: 25px;
  text-justify: auto;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #0473aa;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


body {
  font-family: Arial, sans-serif;
  background: url(../img/trianglify.png);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  flex-wrap: wrap;
}

.dashboard {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.iframe-container {
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

iframe {
  flex: 1;
  min-height: 270px; /*Tinggi iframe*/
  width: 100%; /*Lebar iframe*/
  border: 2px solid #00b3b3; /*warna border solid*/
  border-radius: 10px; /*radius batas*/
  box-sizing: border-box; /*box sizing*/
}

.stasiun-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.stasiun-title:hover {
  transform: scale(1.1);
}

.info-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #000;
}

#navbar {
  background-color: #fb8500;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 25px;
  text-justify: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#navbar .motivasi {
  font-size: 18px;
}

.rata-rata {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  color: #333;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 300px; 
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


footer {
  text-align: center;
  padding: 50px;
  background: url(../img/background8.webp);
  background-size: cover;
  background-position: 0px;
  color: white;
}